.nav_main_container {
	width: 100%;
	display: flex;
	justify-content: center;
	background: #ffffff;
}

.nav_container {
	width: 1448px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0px;
}

.aeroCoins_container {
	z-index: 20;
	cursor: pointer;
	width: 172px;
	height: 48px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	border: 1px solid #dae4f2;
	border-radius: 16px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}
.aeroCoins_container:hover,
.aeroCoins_container:active {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.aeroCoins_text {
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}
.nav_coins_text {
	margin-left: 8px;
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.aeroCoins_icon {
	margin-left: 16px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.aeroCoins_icon_open {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}
