.landing_section {
	max-width: 1920px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.landing_welcome {
	width: 602px;
	height: 577px;
	position: absolute;
	top: 240px;
	left: 228px;
}
.welcome_box_text {
	width: 100%;
	height: 433px;
}
.box_title {
	width: 100%;
	height: 355px;
}
.title_span {
	display: inline-block;
	width: 523px;
	height: 54px;
	margin: 24px 0;
	font-size: 18px;
	line-height: 150%;
	color: #7c899c;
}
.title_h4 {
	font-size: 18px;
	font-weight: 600;
	line-height: 150%;
	letter-spacing: 0.24em;
	color: #7c899c;
}
.title_h1 {
	color: black;
	font-size: 200px;
	font-weight: 900;
	line-height: 80%;
}
.title_h1_s {
	display: inline-block;
	background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.welcome_box_btn {
	cursor: pointer;
	margin: 64px 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 318px;
	height: 80px;
	background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
	border-radius: 24px;
}
.welcome_box_btn:hover {
	background: linear-gradient(102.47deg, #1667d9 -5.34%, #f279f2 106.58%);
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}
.btn_link_all_products {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 24px 40px;
}

.all_products_span {
	margin: 0 4px;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: #ffffff;
}

.landing_ilustration {
	position: absolute;
	width: 897px;
	height: 795px;
	top: 45px;
	right: 141px;
}

.ilustration_picture {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url('../assets/illustrations/hero-desktop.png');
	background-position: center;
	z-index: 1;
	background-size: cover;
}

.background_ilustrtion {
	position: absolute;
	width: 722px;
	height: 600px;
	left: 88px;
	top: 195px;
	background: linear-gradient(
		102.47deg,
		rgba(23, 111, 235, 0.5) -5.34%,
		rgba(255, 128, 255, 0.5) 106.58%
	);
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
	border-radius: 104px;
}
.walkthrough_section {
	position: absolute;
	height: 721px;
	width: 100%;
	top: 952px;
}

.product_section {
	position: absolute;
	height: 2598px;
	left: 0px;
	right: 0px;
	top: 1833px;
}

.footer_section {
	position: absolute;
	height: 200px;
	left: 0px;
	right: 0px;
	top: 4591px;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px;
}

/*

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
